@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-gradient-red: linear-gradient(to right, rgba(97, 28, 21, 1), rgba(225, 42, 24, 1));
  --bg-color-red: #AF0707;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

